
config = {'input_db': { 'host': 'localhost',
                        'database': 'dspace',
                        'user': 'Username goes here.',
                        'password': 'Password goes here.'
                        },
          
          'output_db': { 'host': 'localhost',
                         'database': 'simplestats',
                         'user': 'UserName goes here.',
                         'password': 'Password goes here.'
                         },

          'log_files': 'Unix style pathname pattern goes here.',
          
          'ip_exclude_file': '/path/to/your/ips_to_exclude_2.txt'
          
          }


