
config = {'input_db': { 'host': 'localhost',
                        'database': 'dspace',
                        'user': 'Username goes here.',
                        'password': 'Password goes here.'
                        },
          
          'output_db': { 'host': 'localhost',
                         'database': 'simplestats',
                         'user': 'UserName goes here.',
                         'password': 'Password goes here.'
                         },

          'log_dir': 'Your DSpace log directory goes here.',
          
          'ip_exclude_file': 'ips_to_exclude.txt'
          
          }


